<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cola.post.mapper.PostMapper">

    <resultMap id="BaseResultMap" type="cn.cola.model.entity.Post">
            <id property="postId" column="post_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createrId" column="creater_id" jdbcType="BIGINT"/>
            <result property="starts" column="starts" jdbcType="INTEGER"/>
            <result property="postTags" column="post_tags" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        post_id,title,content,
        creater_id,starts,post_tags,
        create_time,update_time,is_delete
    </sql>
</mapper>
